<a href="https://colab.research.google.com/github/ricardoricrob76/machinelearning/blob/main/UNIPE_AdaBoost_Social_Network_Learner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Adaptive Boosting Method

Determinar se um cliente realizou a compra através de uma propaganda utilizando o método de Adaptive Boosting Method (AdaBoost) com um learner diferente

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
dados = pd.read_csv('Social_Network_Ads.csv')

In [ ]:
dados.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

Coluna User ID não é necessária para o modelo pois é apenas um identificador do usuário

In [ ]:
dados.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [ ]:
dados = dados.drop('User ID',axis=1)

In [ ]:
dados.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

Convertendo a variável categórica Gender para numérica

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
enconder = LabelEncoder()

In [ ]:
dados['Gender'] = enconder.fit_transform(dados['Gender'])

In [ ]:
dados.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

Normalizando as colunas Age e Estimated Salary

In [ ]:
cols = ['Age','EstimatedSalary']

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
dados[cols] = sc.fit_transform(dados[cols])

In [ ]:
dados.head()

   Gender       Age  EstimatedSalary  Purchased
0       1 -1.781797        -1.490046          0
1       1 -0.253587        -1.460681          0
2       0 -1.113206        -0.785290          0
3       0 -1.017692        -0.374182          0
4       1 -1.781797         0.183751          0

Determinando as variáveis X e Y

In [ ]:
X = dados.drop('Purchased',axis=1).values
Y = dados['Purchased'].values

Separando em amostra de treino e teste

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_treino,X_teste,Y_treino,Y_teste=train_test_split(X,Y,test_size=0.25,random_state=0)

Aplicando modelo AdaBoost

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
from sklearn.svm import SVC

In [ ]:
learner=SVC(probability=True, kernel='rbf',C=50,gamma='scale')

In [ ]:
modelo = AdaBoostClassifier(base_estimator=learner,learning_rate=0.01)

In [ ]:
modelo.fit(X_treino,Y_treino)

AdaBoostClassifier(base_estimator=SVC(C=50, probability=True),
                   learning_rate=0.01)

In [ ]:
modelo.score(X_treino,Y_treino)

0.9033333333333333

In [ ]:
Y_previsto = modelo.predict(X_teste)

In [ ]:
modelo.score(X_teste,Y_teste)

0.93

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
cm = confusion_matrix(Y_teste, Y_previsto)

In [ ]:
cm

array([[64,  4],
       [ 3, 29]])